.back-button {
    background-color: hsl(209, 23%, 22%);
    width: 20%;
    padding: 5px;
    text-align: center;
}

.back-button p {
    margin: 0;
}

.border-countries-div {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
}

.countrydetails-text-2 {
    margin-top: 2.5rem;
}

.countrydetails-div {
    margin-bottom: 2rem;
    margin-top: 3rem;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.countrydetails-details-div {
    align-self: center;
    /* border: 2px solid red; */
}

.image-div {
    width: 100%;
}


.countrydetails-div-dark,
.back-button-dark {
    color: hsl(0, 0%, 100%);
}

.countrydetails-p {
    font-weight: 600;
    font-size: .8rem;
}

.countrydetails-span {
    font-weight: 400;
    font-size: .8rem;
}



@media (min-width:376px) {
    .image-div {
        width: 50%;

    }

    .countrydetails-text-2 {
        margin-top: 0;
    }

    .countrydetails-text-div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .countrydetails-details-div {
        align-self: center;
        width: 40%;
    }

    .back-button {
        width: 10%;
    }
}